
body {
    font-family: Arial, sans-serif;
    background-color: #d8dc15;
    padding: 20px;
    margin: 0;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #ed0c0c;
    font-size: 28px;
}

h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}


div {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

li::before {
    content: "•"; 
    color: #007bff; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
}


ol li::before {
    content: counter(list-item) ".";
    color: #007bff;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
    counter-increment: list-item;
}


li:hover {
    background-color: #30daa7;
    transition: background-color 0.3s ease;
}
