*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.main-header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.main-header > h1 {
    color: beige;
    background-color: blue;
}

h1 {
    color:red;
}