body {
    background-color: #FFF8DC; /* Color crema para el fondo */
    text-align: center; /* Todo el texto centrado */
}

p {
    font-weight: bold; /* Títulos en negrita */
    margin: 20px 0; /* Espaciado entre párrafos */
}
