body {
    background-image: url('Git.vs.Github.jpg');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.main-header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.main-header > h1 {
    color: blue;
    background-color:beige;
    font-size: 100px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color:red;
    background-color:beige;
}

div {
    margin: 20px;
    padding: 10px;
    border: 2.5px solid #ff0000;
    background-color: #ffffff;
    color: #000000;
}

div header {
    margin-bottom: 10px;
}

div header h3 {
    color: gray;
}

div ul,
div ol {
    padding-left: 20px;
    margin-bottom: 10px;
}

div ul li,
div ol li {
    line-height: 2;
}